<%= form_for(menu_item) do |f| %>
  <% if @menu_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@menu_item.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @menu_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :price_in_cents %><br />
    <%= f.text_field :price_in_cents %>
  </div>
  <div class="field">
    <%= f.label :category %><br />
    <%= f.select :category, ['', 'Seafood', 'Vegetarian', 'Pasta'] %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
